<div class="container text-center">
    <button (click)="DownloadFile()" class="btn btn-primary mb-5 shadow border">Download PDF Resume</button>

    <div class="pb-5">

        <accordion [isAnimated]="true" class="shadow">
            <accordion-group [(isOpen)]="isWorkExperienceOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div style="color: white;">Work Experience</div>

                    <div style="width: 10.95px;">
                    
                        <div *ngIf="!isWorkExperienceOpen" style="color: white;">></div>
                        <div *ngIf="isWorkExperienceOpen" style="color: white;">v</div>

                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">On-site Information Technology Professional</h2>
                    <h3 class="text-primary">Horace Mann, Dallas, TX</h3>
                    <ul>
                        <li>Collaborated with various departments, such as procurement and finance, to ensure that all IT assets are acquired and disposed of in compliance with company policies and regulatory requirements.</li>
                        <li>Developed and implemented asset management policies, procedures, and standards to ensure effective utilization of resources and cost optimization.</li>
                        <li>Worked closely with IT and business stakeholders to assess technology needs, evaluate new solutions, and make recommendations for upgrades or replacements.</li>
                        <li>Monitored and managed vendor relationships related to IT asset management, negotiating contracts, and ensuring service levels are met.</li>
                    </ul>
                </div>
    
                <div style="text-align: left;">
                    <h2 class="mb-0">Information Technology Helpdesk Specialist</h2>
                    <h3 class="text-primary">Charles Schwab, Westlake, TX</h3>
                    <ul>
                        <li>Provided first-level technical support to end-users via phone, email, and chat to troubleshoot and resolve hardware, software, and network issues.</li>
                        <li>Escalated complex issues to higher-level support teams or vendors and collaborated to resolve said issues.</li>
                        <li>Administered and maintained user accounts, permissions, and access to corporate systems and applications.</li>
                        <li>Performed regular hardware and software maintenance tasks, including patching, upgrading, and configuring devices.</li>
                    </ul>
                </div>
    
                <div style="text-align: left;">
                    <h2 class="mb-0">Sales Development Representative / QA Tester</h2>
                    <h3 class="text-primary">Truss, Remote</h3>
                    <ul>
                        <li>Identified and qualified leads using data-driven techniques, mirroring the process of identifying potential users or clients for software products.</li>
                        <li>Utilized strong communication and networking skills to initiate and nurture relationships with prospects.</li>
                        <li>Demonstrated a capacity to grasp and communicate the intricacies of software solutions to both technical and non-technical audiences by gaining an in-depth understanding of complex fintech products.</li>
                        <li>Utilized sales technologies, including CRMs and email automation tools for project management and collaboration.</li>
                        <li>Employed data-driven decision-making, such as understanding market trends and user needs in order to conduct market research and data analysis to identify business growth opportunities.</li>
                        <li>Performed weekly A/B testing to verify that software updates meets dynamic performance criteria.</li>
                    </ul>
                </div>

                <div style="text-align: left;">
                    <h2 class="mb-0">Director of Training & Hiring / Project Manager</h2>
                    <h3 class="text-primary">Chick-Fil-A, Lake Worth, TX</h3>
                    <ul>
                        <li>Fosters a positive and inclusive workplace culture, promoting teamwork, open communication, and employee engagement.</li>
                        <li>Manages and optimizes Learning Management Systems (LMS) for training purposes, ensuring a smooth learning experience for employees.</li>
                        <li>Employs the use of various software tools for creating training materials, including eLearning authoring tools and graphic design software applications, allowing for contribution to user interfaces and multimedia aspects of software.</li>
                        <li>Tracks training progress and performance for 100+ employees, using data analytics and reporting tools for data-driven decision-making.</li>
                        <li>Successfully introduces and integrates new technologies and training methodologies, showcasing an ability to adapt to and adopt new technologies.</li>
                        <li>Provides technical support to trainers and trainees, employing strong problem-solving and troubleshooting skills to identify and resolve technical issues.</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isEducationOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div style="color: white;">Education</div>

                    <div style="width: 10.95px;">
                    
                        <div *ngIf="!isEducationOpen" style="color: white;">></div>
                        <div *ngIf="isEducationOpen" style="color: white;">v</div>

                    </div>
                </button>

                <div style="text-align: left;">
                    <h2 class="mb-0">Associate of Science (A.S.), Applied Science</h2>
                    <h3 class="text-primary">Tarrant County College</h3>
                    <ul>
                        <li>In-Person Courses</li>
                        <li>Fort Worth, TX</li>
                        <li>January 2017 - December 2020</li>
                    </ul>
                </div>
    
                <div style="text-align: left;">
                    <h2 class="mb-0">Bachelor of Science (B.S.), Computer Science</h2>
                    <h3 class="text-primary">Southern New Hampshire Univerity</h3>
                    <ul>
                        <li>Online Courses</li>
                        <li>Manchester, NH</li>
                        <li>August 2022 - December 2025</li>
                    </ul>
                </div>
            </accordion-group>
    
            <accordion-group [(isOpen)]="isCertificationsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div style="color: white;">Certifications</div>

                    <div style="width: 10.95px;">
                    
                        <div *ngIf="!isCertificationsOpen" style="color: white;">></div>
                        <div *ngIf="isCertificationsOpen" style="color: white;">v</div>

                    </div>
                </button>
    
                <div style="text-align: left;">
                    <h3>CompTIA - A+</h3>
                    <ul>
                        <li>Issued January 15, 2019</li>
                        <li>Certificate #HEN661RM5KFQ1SSW</li>
                    </ul>
    
                    <h3>SoloLearn - Java</h3>
                    <ul>
                        <li>Issued April 16, 2017</li>
                        <li>Certificate #1068-4286561</li>
                    </ul>

                    <h3>SoloLearn - SQL Fundamentals</h3>
                    <ul>
                        <li>Issued April 22, 2019</li>
                        <li>Certificate #1060-4286561</li>
                    </ul>

                    <h3>Udemy - MEAN Web Development Bootcamp</h3>
                    <ul>
                        <li>Issued April 26, 2020</li>
                        <li>Certificate #UC-97068e8e-7bbc-4ef0-b060-d2bc81025288</li>
                    </ul>
                </div>
    
            </accordion-group>
    
            <accordion-group [(isOpen)]="isSkillsOpen">
                <button class="btn btn-block justify-content-between d-flex w-100" accordion-heading>
                    <div style="visibility: hidden;">></div>
                    <div style="color: white;">Skills</div>

                    <div style="width: 10.95px;">
                    
                        <div *ngIf="!isSkillsOpen" style="color: white;">></div>
                        <div *ngIf="isSkillsOpen" style="color: white;">v</div>

                    </div>
                </button>
    
                <div class="row" style="text-align: left;">
                    <div class="col">
                        <h3>Languages:</h3>
                        <ul>
                            <li>Java</li>
                            <li>TypeScript</li>
                            <li>C++</li>
                            <li>Python</li>
                            <li>SQL</li>
                        </ul>
                    </div>
    
                    <div class="col">
                        <h3>Frameworks:</h3>
                        <ul>
                            <li>Bootstrap</li>
                            <li>Angular</li>
                            <li>Node.js</li>
                            <li>Godot</li>
                        </ul>
                    </div>
    
                    <div class="col">
                        <h3>Other Skills:</h3>
                        <ul>
                            <li>Agile Methodologies</li>
                            <li>SOLID & OOP Principles</li>
                            <li>Git</li>
                            <li>skillname</li>
                        </ul>
                    </div>
                </div>
    
            </accordion-group>
        </accordion>

    </div>

    
</div>