<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="assets/linkedinavi.jpg" alt="Headshot Photo" width="256" height="256" class="rounded-circle">
                <p>
                    
                </p>
                <p>
                    As a Training Director at Chick-fil-A, I excel in leading and developing effective training programs, enhancing team performance, and driving customer satisfaction. Concurrently, I am pursuing a Bachelor’s degree in Computer Science from SNHU, gaining proficiency in programming languages such as C++, C#, and Python.
                </p>

                <p>
                    My goal is to transition into video game development upon graduation. I am passionate about creating immersive and engaging gaming experiences, actively building my portfolio with projects using Unity and Unreal Engine. With a strong blend of leadership and technical skills, I am excited to contribute to innovative game development teams.
                </p>

                <p>
                    Overall, I am driven by a desire to continuously learn and grow, both personally and professionally. I believe that every challenge presents an opportunity to improve, and I approach each new endeavor with enthusiasm and a willingness to tackle whatever obstacles come my way.
                </p>
            </div>
        </div>

        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{featuredProject.name}}</h4>
            </div>


            <carousel>

                <div *ngFor="let picture of featuredProject.pictures">
                    <slide>
                        <img src={{picture}} alt="slide image" style="display: block; width: 100%;">
                    </slide>
                </div>

            </carousel>

            <p class="mt-2">{{featuredProject.summary}}</p>
            <p>Visit the <a routerLink="/portfolio">Portfolio</a> section to learn more!</p>

        </div>
    </div>
</div>